﻿@model Vidly.Models.Movie
@{
    ViewBag.Title = "Details";
}

<h2>@Model.Name</h2>

<ul>
    <li>Genre: @Model.Genre.Name</li>
    <li>Release Date: @Model.ReleaseDate.DayOfWeek, @Model.ReleaseDate.ToString("MMMM") @Model.ReleaseDate.Day, @Model.ReleaseDate.Year</li>
    <li>Date Added: @Model.DateAdded.DayOfWeek, @Model.DateAdded.ToString("MMMM") @Model.DateAdded.Day, @Model.DateAdded.Year</li>
    <li>Number in Stock: @Model.NumberInStock</li>
</ul>