﻿@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

<div class="form-group">
    @Html.ActionLink("New Movie", "New_Movie", "Movies", null, new { @class = "btn btn-primary" })
</div>

@if (!Model.Any())
{
    <text>No movies available yet.</text>
}
else
{
    <table class="table table-bordered table-hover table-dark">
        <thead>
            <tr>
                <th>Movie</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model)
            {
                <tr>
                    <td>@Html.ActionLink(movie.Name, "Edit_Movie", "Movies", new { id = movie.Id }, null)</td>
                    <td>@movie.Genre.Name</td>
                </tr>
            }
        </tbody>
    </table>
}