﻿@model Vidly.ViewModels.CustomerFormViewModel
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>

@using (Html.BeginForm("Save", "Customers"))
{
    @Html.ValidationSummary() //if excludePropertyError is true, it will not work because of the jquery val below
    <div class="form-group">
        @Html.LabelFor(m => m.Customers.Name)
        @Html.TextBoxFor(m => m.Customers.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customers.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customers.MembershipTypeId)
        @Html.DropDownListFor(m => m.Customers.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customers.MembershipTypeId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customers.Birthdate)
        @Html.TextBoxFor(m => m.Customers.Birthdate, "{0:d/MM/yyyy}", new { @class= "form-control" })
        @Html.ValidationMessageFor(m => m.Customers.Birthdate)
    </div>
    <div class="form-group">
        <label>
            @Html.CheckBoxFor(m => m.Customers.IsSubscribedToNewsLetter) Subscribed to Newsletter?
        </label>
    </div>
    @Html.HiddenFor(m => m.Customers.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-success">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}